<a href="https://colab.research.google.com/github/dixitvaishnavi/Data-Analyst-internship/blob/main/Datatypes_and_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name='vaishnavi'
age=23
percent=90.7
print(name)
print(age)
print(percent)

vaishnavi
23
90.7

In [3]:
type(name)
type(age)
type(percent)

float

In [4]:
profile = ['Mohit',25,5.8,60,'Engineer']         # List Method
profile_2 = ('Disha',23,5.5,55,'Teacher')        # Tuple Method
profile_3 = {'Name':'Sai','Role':'Cricket Analyst','age':22,'City':'Pune'} # Dictionary Method
profile_4 = {'Sreedevi',55.6,'Teacher', 5.6}     # Set Method

In [5]:
print(profile)
print(profile_2)
print(profile_3)
print(profile_4)

['Mohit', 25, 5.8, 60, 'Engineer']
('Disha', 23, 5.5, 55, 'Teacher')
{'Name': 'Sai', 'Role': 'Cricket Analyst', 'age': 22, 'City': 'Pune'}
{'Sreedevi', 'Teacher', 5.6, 55.6}

In [6]:
type(profile)

list

In [7]:
type(profile_2)

tuple

In [8]:
type(profile_3)

dict

In [9]:
type(profile_4)

set

In [10]:
student1 = ('Rishika', 21, 90.2)    # Cannot modify it
student2 = ['Rishika', 21, 90.2]    # Can modify it
student3 = {'Rishika', 21, 90.2}    # Random Output