<a href="https://colab.research.google.com/github/dixitvaishnavi/Data-Analyst-internship/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits=['apple','banana','cherry','pineapple','mango']

for x in fruits:
  print(x)

apple
banana
cherry
pineapple
mango

In [4]:
for x in fruits:
  print(x)
  if x =='banana':
   break

apple
banana

In [5]:
for x in fruits:
  print(x)
  if x=='apple':
    break

apple

In [7]:
for x in fruits:
  if x =='apple':
   continue
  print(x)

banana
cherry
pineapple
mango

In [8]:
for x in fruits:
  if x =='mango':
   continue
  print(x)

apple
banana
cherry
pineapple

In [11]:
num=1

while num<6:
  print(num)
  num+=1 # indentation here otherwise it will come out of loop

1
2
3
4
5

In [12]:
num = 1

while num<6:
  print(num)
  if num==3:
    break
  num+=1

1
2
3

In [13]:
num = 10

while num<22:
  print(num)
  if num==20:
    break
  num+=1

10
11
12
13
14
15
16
17
18
19
20

In [14]:
num =0
while num<6:
  num+=1
  if num==3:
    continue
  print(num)

1
2
4
5
6